In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
df = pd.read_csv('Cleaned_Temperature_Data.csv')

In [3]:
df.head(10)

         Date  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01               4.384                          2.294   Åland
2  1744-01-01               4.384                          2.294   Åland
3  1744-02-01               4.384                          2.294   Åland
4  1744-03-01               4.384                          2.294   Åland
5  1744-04-01               1.530                          4.680   Åland
6  1744-05-01               6.702                          1.789   Åland
7  1744-06-01              11.609                          1.577   Åland
8  1744-07-01              15.342                          1.410   Åland
9  1744-08-01              15.342                          1.410   Åland

In [4]:
df.shape

(577462, 4)