Capstone Two Data Wrangling

In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv('GlobalLandTemperaturesByCity.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
 #   Column                         Dtype
---  ------                         -----
 0   dt                             object
 1   AverageTemperature             float64
 2   AverageTemperatureUncertainty  float64
 3   City                           object
 4   Country                        object
 5   Latitude                       object
 6   Longitude                      object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB

In [4]:
df.shape

(8599212, 7)

In [5]:
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [6]:
#The Count and Percentage of missing data per column
missing_data = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis =1)
missing_data.columns=['count','%']
missing_data.sort_values(by='count',ascending=False)

                                count         %
AverageTemperature             364130  4.234458
AverageTemperatureUncertainty  364130  4.234458
dt                                  0  0.000000
City                                0  0.000000
Country                             0  0.000000
Latitude                            0  0.000000
Longitude                           0  0.000000

In [19]:
#These are the coldest countries by average
country_average = df.groupby(['Country']).mean()
country_average.sort_values(by='AverageTemperature',ascending = True).head()

          AverageTemperature  AverageTemperatureUncertainty
Country
Mongolia           -3.365485                       1.252115
Iceland             1.500089                       1.629370
Russia              3.347268                       1.365189
Norway              3.612553                       1.741349
Finland             3.711645                       1.603867

In [20]:
#These are the hottest countries by average
country_average.sort_values(by='AverageTemperature',ascending = False).head()

              AverageTemperature  AverageTemperatureUncertainty
Country
Djibouti               29.152790                       0.923249
Niger                  28.145552                       0.799865
Sudan                  28.072831                       0.828664
Burkina Faso           27.815295                       0.763835
Mali                   27.590491                       0.803860